langchain
langchain_community
langchain_core
streamlit
python-dotenv
langchain_ollama
langchain_groq
fastapi
uvicorn
langserve
langchain-text-splitters
langchain
pypdf
bs4
arxiv
pymupdf
wikipedia
sentence_transformers
langchain_huggingface
faiss-cpu
duckdb
pandas
